/* Header */
.header {
	padding: 40px 0;
	min-height: 695px;

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;

	background-color: var(--header-bg);
	background-image: url('./../../img/back.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center center;

	color: var(--header-text);
	text-align: center;
}

.header__wrapper {
	padding: 0 15px;
	max-width: 660px;
}

.header__title {
	margin-bottom: 20px;
	font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
	font-weight: 700;
	line-height: 1.4;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: var(--accent);
}

.header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
}

.header__text p+p {
	margin-top: 0.5em;
}


/* DEMO-SPECIFIC STYLES */

.typewriter h1 {
	display: flex;
	color: #fff;
	overflow: hidden;
	border-right: .15em solid var(--title-1);
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .18em;
	animation:
		typing 3.5s steps(30, end),
		blink-caret .7s step-end infinite;
}

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: var(--title-1)
	}
}